.hero {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--footer-hero-bcg-color);
  // background-image: linear-gradient(#2f303a66, #2f303a66), url(../images/bcg/hero-bcg.jpg);
  @include mq(mobile-only) {
    max-width: 767px;
    max-height: 400px;

    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient(#2f303a66, #2f303a66), url(../images/bcg/hero-bcg-sm.jpg);
    @include mq(retina) {
      background-image: linear-gradient(#2f303a66, #2f303a66), url(../images/bcg/hero-bcg-sm@2x.jpg);
    }
  }

  @include mq(tablet-only) {
    max-width: 1199px;
    max-height: 400px;

    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient(#2f303a66, #2f303a66), url(../images/bcg/hero-bcg-md.jpg);
    @include mq(retina) {
      background-image: linear-gradient(#2f303a66, #2f303a66), url(../images/bcg/hero-bcg-md@2x.jpg);
    }
  }

  @include mq(desktop) {
    max-width: 1600px;
    max-height: 600px;

    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(#2f303a66, #2f303a66), url(../images/bcg/hero-bcg-lg.jpg);
    @include mq(retina) {
      background-image: linear-gradient(#2f303a66, #2f303a66), url(../images/bcg/hero-bcg-lg@2x.jpg);
    }
  }

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-description {
  display: block;

  width: 696px;
  height: 120px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-color);

  @media screen and (min-width: 120px) and (max-width: 479px) {
    display: block;
    width: 100%;
    font-size: 26px;
  }

  @include mq(mobile) {
    width: 360px;
    height: 84px;

    font-size: 26px;
    line-height: 1.62;
    text-align: center;
  }

  @include mq(tablet-only) {
    width: 360px;
    height: 84px;

    font-size: 26px;
    line-height: 1.62;
    text-align: center;
  }

  @include mq(desktop) {
    width: 696px;
    height: 120px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-txt-color);
  }
}
