:root {
  --accent-color: #2196f3;
  --white-txt-color: #ffffff;
  --text-benef-tel-filter-col: #757575;
  --text-headlink-team-beneftype-col: #212121;
  --footer-hero-bcg-color: #2f303a;
  --ind-hero-btn-hover-bcg-col: #188ce8;
  --ind-team-section-bcg-col: #f5f4fa;
  --main-bcg-color: #ffffff;
  --portfolio-btn-bcg-col: #f5f4fa;
  --logo-header-col: #000000;
  --clients-icon-border-col: #afb1b8;
  --footer-mail-tel-txt-col: rgba(255, 255, 255, 0.6);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
