/* footer send form */

.footer-form-box {
  margin-left: auto;

  @include mq(tablet-only) {
    display: block;
    margin-right: auto;
  }
}

.footer-form-box__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-txt-color);

  margin-bottom: 20px;

  @include mq(not-desktop) {
    text-align: center;
  }
}

.footer-form {
  display: flex;

  @include mq(not-desktop) {
    display: block;
  }
}

.footer-form__input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--footer-hero-bcg-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--white-txt-color);

  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  outline: none;

  transition: border-color 250ms var(--timing-function);

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  @media screen and (min-width: 120px) and (max-width: 479px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @include mq(mobile) {
    width: 450px;
    margin-bottom: 20px;
  }

  @include mq(tablet-only) {
    width: 450px;
    margin-bottom: 20px;
  }

  @include mq(desktop) {
    width: 358px;
    margin-bottom: 20px;
  }
}

/* ----------- HERO modal form----------- */
.modal-form-title {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;
}

.form-group {
  display: block;
  position: relative;
  margin-bottom: 10px;

  &-coment {
    margin-bottom: 20px;
  }
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms var(--timing-function);
}

.form-input-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--text-benef-tel-filter-col);

  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms var(--timing-function);
}

.form-input:focus + .form-icon,
.form-input:focus,
.form-input-group:hover > .form-icon,
.form-input-group:hover > .form-input,
.form-input-group:focus > .form-icon,
.form-input-group:focus > .form-input,
.clients-comment:focus,
.clients-comment:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clients-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  outline: none;
  resize: none;

  transition: border-color 250ms var(--timing-function);

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-policy-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox {
  width: 18px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid var(--text-headlink-team-beneftype-col);
  outline-offset: -2px;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms var(--timing-function);
  transition: outline-color 250ms var(--timing-function);
}

.checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color);
  outline: transparent;
}

.custom-checkbox-icon {
  fill: var(--white-txt-color);
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
  fill: var(--white-txt-color);
}

.form-policy-group:hover .custom-checkbox,
.form-policy-group:focus .custom-checkbox {
  color: var(--accent-color);
  outline-color: var(--accent-color);
}

.form-policy-dscr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @include mq(not-desktop) {
    font-size: 12px;
    line-height: 1.17;
  }

  color: #757575;

  transition: color 250ms var(--timing-function);
}

.form-policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @include mq(not-desktop) {
    font-size: 12px;
    line-height: 1.17;
  }

  text-decoration-line: underline;

  color: var(--accent-color);
}
